@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.rectangle-red,
.rectangle-orange,
.rectangle-yellow,
.rectangle-green,
.rectangle-blue {
    font-size: 2em;
    color: white;
}
.rectangle-red {
    background-color: red;
}
.rectangle-orange {
    background-color: orange;
}
.rectangle-yellow {
    background-color: yellow;
}
.rectangle-green {
    background-color: green;
}
.rectangle-blue {
    background-color: blue;
}
